/* Fonts */
@font-face {
    font-family: 'Slabby';
    src: url('/fonts/Slabby.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
}


.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* Specify */

/* Apply to the body element */
body {
    font-family: 'Slabby', sans-serif;
    color: #ffffff; /* Set default font color */
}

/* Apply to all level 1 headings */
h1 {
    font-size: 36px;
    color: #ffffff; /* Set font color to white */
}

/* Apply to all level 2 headings */
h2 {
    font-size: 26px;
    color: #ffffff; /* Set font color to white */
}

/* Apply to all level 3 headings */
h3 {
    font-size: 16px;
    color: #ffffff; /* Set font color to white */
}

/* Apply to all paragraphs */
p {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 14px;
    color: #ffffff; /* Set font color to white */
}

