/* Background */
body {
    /* Set background image */
    background-image: url('/assets/sitebg.png');
    /* Set background size */
    background-size: cover;
    /* Set background attachment */
    background-attachment: fixed;
    /* Set default font family and color */
    font-family: 'Slabby', sans-serif;
    color: #ffffff;
}

/* Apply to the header element */
header {
    background-color: #111b22; /* Example header background color */
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Apply to the nav element */
nav {
    text-align: center;
}

/* Apply to the nav links */
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

/* Apply to the container */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Apply to sections */
section {
    margin-bottom: 40px;
}

/* Apply specific styling to home section */
#home {
    /* Add specific styling for the home section */
}

/* Apply specific styling to about section */
#about {
    /* Add specific styling for the about section */
}

/* Apply specific styling to blog section */
#blog {
    /* Add specific styling for the blog section */
}


/* Fonts */
@font-face {
    font-family: 'Slabby';
    src: url('/fonts/Slabby.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
}


.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* Specify */

/* Apply to the body element */
body {
    font-family: 'Slabby', sans-serif;
    color: #ffffff; /* Set default font color */
}

/* Apply to all level 1 headings */
h1 {
    font-size: 36px;
    color: #ffffff; /* Set font color to white */
}

/* Apply to all level 2 headings */
h2 {
    font-size: 26px;
    color: #ffffff; /* Set font color to white */
}

/* Apply to all level 3 headings */
h3 {
    font-size: 16px;
    color: #ffffff; /* Set font color to white */
}

/* Apply to all paragraphs */
p {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 14px;
    color: #ffffff; /* Set font color to white */
}

