/* General styles */
body {
    background-image: url('/assets/sitebg.png');
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #111b22;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* Wave pattern */
header::after {
    content: '';
    display: block;
    width: 100%;
    height: 40px; /* Adjust height as needed */
    background: url('/assets/wavepattern.png') repeat-x; /* Ensure the correct path to your image */
    position: absolute;
    bottom: -40px;
    left: 0;
}

/* Container styling */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Section styling */
section {
    margin-bottom: 40px;
}

#logo {
    height: 80px;
    width: auto;
}


/* Apply specific styling to home section */
#home {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Slightly transparent background */
    border-radius: 10px;
    color: #ffffff;
}

/* Apply specific styling to about section */
#about {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Slightly transparent background */
    border-radius: 10px;
    color: #ffffff;
}

/* Apply specific styling to blog section */
#blog {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Slightly transparent background */
    border-radius: 10px;
    color: #ffffff;
}

.blog-post {
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
    border-radius: 10px;
}



/* Fonts */
@font-face {
    font-family: 'Slabby';
    src: url('/fonts/Slabby.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
}


.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* Specify */

/* Apply to the body element */
body {
    color: #ffffff; /* Set default font color */
}

/* Apply to all level 1 headings */
h1 {
    font-family: 'Slabby', sans-serif;
    font-weight: normal;
    font-size: 36px;
    color: #ffffff; /* Set font color to white */
}

/* Apply to all level 2 headings */
h2 {
    font-family: 'Slabby', sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #ffffff; /* Set font color to white */
}

/* Apply to all level 3 headings */
h3 {
    font-family: 'Slabby', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff; /* Set font color to white */
}

/* Apply to all paragraphs */
p {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 14px;
    color: #ffffff; /* Set font color to white */
}




/* Miscellaneous */

welcome {
    font-size: 80px;
    font-family: 'Slabby', sans-serif;    
    color: #ffffff; /* Set font color to white */
    font-weight: normal;
}

.welcome-sign-desc {
    font-size: 40px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
}

.big-welcome-sign {
    text-align: center; /* Center text horizontally */
    }


.slab {
    font-family: 'Slabby', sans-serif;    
    color: #ffffff;
}
