<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/siteicon.ico">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="blog-style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    </style>
</head>
<body>
<header>
    <img src="/assets/sitelogo.png" alt="kaykay19" id="logo" draggable="false" height="80px">
    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="blog.html">Blog</a>
        <a href="aliases.html">Aliases</a>
    </nav>
</header>
<main>
    <!-- Content will be injected here -->
    {{ content }}
</main>
<div class="footer">
    <p>&copy; 2024 kk19</p>
<div class="footer-pattern"></div>
</body>
</html>
