<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - kk19</title>
    <link rel="icon" type="image/x-icon" href="/assets/siteicon.ico">
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    </style>
</head>
<body>
    
<header>
        <img src="/assets/sitelogo.png" alt="kaykay19" id="logo" draggable="false" height="80px">
    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="blog.html">Blog</a>
        <a href="aliases.html">Aliases</a>
    </nav>
</header>
<img src="/assets/kaykay1.png" alt="Kaykay." class="kaykay1" draggable="false">
    <div class="container">
    <div class="content">
        <section id="home">
<div class="big-welcome-sign" text-align="center">
    <welcome>
        welcome to <br>
        my humble site!
    </welcome><br>
<div class="welcome-sign-desc" text-align="center">
I post stuff, I guess.
</div>


</div>
<hr>
<div class="home-text">
<h2>So what the heck is this?</h2>
<p>This is the official kaykay19 site! It is run by me, Kaykay da Black Cat!
This site is also coded by me but also with a little help from our AI friend ChatGPT.
Making this website is one of my plans in the summer, because if you really think about it,
summer is boring and you just sit home doing stuff. Maybe you want to read the entire series of
<i>Harry Potter</i> before the school year comes? Maybe you want to #1 Victory Royale on Fortnite?
For me, I do... random stuff. This website is one of them.</p>
<br>
<h2>What does it have?</h2>
<h3>home page</h3>
<p>This home page welcomes you to my website. It has answers and stuff.</p>
<h3>about</h3>
<p>About me. I tell you some things about me, like social media, aliases, videos, <s>my social security number,...</s></p>
<h3>blog</h3>
<p>Probably the most interesting page in this website. I post cat art, box cutters and basically everything.</p>
</div>
        </section>
    </div>
    </div>



<div class="footer">
    <p>&copy; 2024 kk19</p>
<div class="footer-pattern"></div>
</div>
</body>
</html>