
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/siteicon.ico">
    <title>404?!</title>
    <link rel="stylesheet" href="{{ '/assets/css/404.css' | relative_url }}">
</head>

<style>
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.blackground a {
    color: #fff; /* Set hyperlink color to white */
    text-decoration: underline; /* Remove underline */
}

.blackground a:hover {
    text-decoration: none; /* Add underline on hover */
}
</style>

<body>
    <div class="blackground">
        <h0>404?!</h0>
        <p>You could've made a typo on your URL bar, or the page you're looking for no-clipped into the Backrooms. Maybe it's just under construction.</p>
        <p>Return to <a href="/">home page</a>.</p>
    </div>
</body>
</html>