<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - kk19</title>
    <link rel="icon" type="image/x-icon" href="/assets/siteicon.ico">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="blog-style.css">
</head>
<body>
<header>
    <!-- Insert your header content here -->
    <img src="/assets/sitelogo.png" alt="kaykay19" id="logo" draggable="false" height="80px">
    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="blog.html">Blog</a>
        <a href="aliases.html">Aliases</a>
    </nav>
</header>

<main>
    {{ content }}
</main>

<div class="footer">
    <p>&copy; 2024 kk19</p>
<div class="footer-pattern"></div>

</body>
</html>
